<%- include('/admin/partials/head.ejs')%>
<%- include('/admin/partials/top.ejs')%>
					<div class="d-flex align-items-center mb-3">
						<h1>Messages</h1>
					</div>
					<hr />

					<div class="row" style="height: 75vh">
						<div class="col-md-4 border-end d-flex flex-column">
							<div class="mb-3">
								<select id="conversationSelector" class="form-select">
									<option disabled hidden selected>Select a Conversation</option>
									<% users.forEach(u => { %>
                                        <option <%= u._id.toString() === user._id.toString() ? "disabled" : "" %> value="<%= u._id %>">
											<%= u.username %>
										</option>
                                    <% }) %>
								</select>
							</div>

							<div
								class="list-group flex-grow-1 overflow-auto"
								id="conversationList"
							></div>
						</div>

						<div class="col-md-8 d-flex flex-column" style="max-height: 100%">
							<div class="border-bottom pb-2 mb-3">
								<h5 id="activeUserName" class="mb-0 text-muted">
									Select a Conversation
								</h5>
							</div>

							<div
								id="chatMessages"
								class="flex-grow-1 overflow-auto mb-3 p-2"
								style="background-color: #f8f9fa; border-radius: 8px"
							></div>

							<div class="input-group">
								<textarea
									style="max-height: 150px;"
									type="text"
									rows="1"
									maxlength="1000"
									id="messageTextArea"
									class="form-control"
									placeholder="Type a message..."
								></textarea>
								<button class="btn btn-primary" id="sendBtn">
									<i class="bi bi-send"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
