<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<%- include('../partials/navbar.ejs', { user: user })%>
<div class="container-fluid mt-5">
    <div class="row">
        <%- include('../partials/sidebar.ejs', {title: "Superadmin"})%>
        <div class="col-10">
            <div class="d-flex align-items-center mb-3">
                <h1>Superadmin</h1>
                <a href="/admin/superadmin/create" class="btn btn-outline-primary ms-auto">New User</a>
            </div>
            <hr>
            <div class="row">
                <div class="col-10 offset-1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                            <th>Flag</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.forEach(function(user){ %>
                            <tr>
                                <td><%= user.username%></td>
                                <td class="role-expand <%= user.main == false ? 'clickable' : '' %>" data-user-id="<%= user._id %>"
                                    data-role="<%= user.role %>">
                                    <%= user.role || '' %>
                                </td>
<td>
<% if (user.flag) { %>
    <div class="dropdown">
        <!-- klikabilna zastavica -->
        <a href="#" id="flagDropdown<%= user._id %>" data-bs-toggle="dropdown" aria-expanded="false">
            <% if (user.flag==='green' ) { %>
                <i class="fa-regular fa-flag text-success fs-4"></i>
                <% } else if (user.flag==='orange' ) { %>
                    <i class="fa-regular fa-flag text-warning fs-4"></i>
                    <% } else if (user.flag==='red' ) { %>
                        <i class="fa-solid fa-flag text-danger fs-4"></i>
                        <% } %>
        </a>

        <!-- dropdown sa opcijama -->
        <ul class="dropdown-menu" aria-labelledby="flagDropdown<%= user._id %>">
            <li><a class="dropdown-item change-flag" href="#" data-user-id="<%= user._id %>" data-flag="green">🟢
                    Green</a></li>
            <li><a class="dropdown-item change-flag" href="#" data-user-id="<%= user._id %>" data-flag="orange">🟠
                    Orange</a></li>
            <li><a class="dropdown-item change-flag" href="#" data-user-id="<%= user._id %>" data-flag="red">🔴 Red</a>
            </li>
        </ul>
    </div>
    <% } else { %>
        <%= '' %>
            <% } %>
                </td>
                                <td>
                                    <i data-id="<%= user._id %>" class="<%= user.main == false ? 'superadmin-delete-btns bi-trash' : '' %> "></i>
                                </td>
                               
                            </tr>
                        <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>



<script src="/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
                    let roleBtns = document.querySelectorAll('.role-expand');
   let deleteBtns = document.querySelectorAll('.superadmin-delete-btns');
    let flagBtns = document.querySelectorAll('.change-flag');

                    roleBtns.forEach(role => role.addEventListener('click', changeRole));
                    deleteBtns.forEach(btn => btn.addEventListener('click', deleteUser));
                    flagBtns.forEach(flag => flag.addEventListener('click', changeFlag));

                async function changeFlag(e) {
                    e.preventDefault();

                    const userId = e.target.dataset.userId;
                    const newFlag = e.target.dataset.flag;

                    // console.log('Nova boja:', newFlag, 'User ID:', userId);

                    try {
                        const res = await fetch(`/admin/superadmin/${userId}/flag`, {
                            method: 'PATCH',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ flag: newFlag })
                        })
                            .then(res => {

                                if (!res.ok) throw new Error(`Server returned ${res.status}`);
                                return res.json();
                            }).then(data => {
                                if (data.msg === 'Flag updated successfully') {
                                    // Update zastavice odmah u tabeli
                                    const icon = document.querySelector(`#flagDropdown${userId} i`);
                                    icon.className = 'fa-flag fs-4';
                                    if (newFlag === 'green') icon.classList.add('fa-regular', 'text-success');
                                    if (newFlag === 'orange') icon.classList.add('fa-regular', 'text-warning');
                                    if (newFlag === 'red') icon.classList.add('fa-solid', 'text-danger');
                                } else {
                                    alert('Something went wrong');
                                }
                            }
                            )

                    } catch (err) {
                        console.error(err);
                    }
                }

   function deleteUser(e){
       let id = e.target.getAttribute('data-id');
   
       // ili let id = e.target.dataset.id;

       if(!id) return alert('ID not found!');
       
       fetch(`/admin/superadmin/${id}`, {method: 'DELETE'})
           .then(res => { 
           if(!res.ok) throw new Error(`Server returned ${res.status}`);
            return res.json();
           })
           .then(data => {
               if(data.msg === 'User deleted successfully'){
                   location.reload();
               }else {
                alert('Something went wrong');
               }
           })
            .catch(err => console.error(err));
   }
            function changeRole(e) {
                const cell = e.target;

                if (!cell.classList.contains('clickable')) return;

                const userId = cell.dataset.userId;
                const currentRole = cell.dataset.role;

                // select za main superadmin-a
                const select = document.createElement('select');
                select.className = 'form-select';

                select.innerHTML = `
                                    <option value="admin">Admin</option>
                                    <option value="superadmin">Superadmin</option>
                                `;

                select.value = currentRole;

                cell.innerHTML = '';
                cell.appendChild(select);

                // kada promeniš vrednost
                select.addEventListener('change', async function () {
                    const newRole = this.value;

                    const res = await fetch(`/admin/superadmin/${userId}/role`, {
                        method: 'PATCH',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ role: newRole })
                    })
                        .then(res => {
                            if (!res.ok) throw new Error(`Greška pri promeni role`);
                            return res.json();
                        })
                        .then(data => {

                            data.role = newRole;
                            cell.innerHTML = newRole;
                        });
                });
            }
 
</script>
</body>
</html>
